{% extends "layout.html" %}

{% block head %}
  <link href="static/css/index.css" rel="stylesheet">
  <style>
    .inner form {
      width: 330px;
    }
  </style>
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
{% endblock %}

{% block content %}
  <div class="inner cover">
  <form role="form">
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Your email">
    </div>
    <div class="form-group">
      <label for="inputMessage">Message</label>
      <textarea class="form-control" id="inputMessage" placeholder="Your message" rows=3></textarea>
    </div>
    <div class="form-group">
      <div class="col-sm-8">
        <button type="submit" class="btn btn-default" id="submit">Submit</button>
      </div>
      <div class="col-sm-4">
        <p id="charCount" class="form-control-static"></p>
      </div>
    </div>
  </form>
  </div>
  <script>
function inform(message) {
  alert(message);
}
$(function(){
  var text_max = 500;
  $('#charCount').html(text_max + ' left');

  $('#inputMessage').keyup(function() {
      var text_length = $('#inputMessage').val().length;
      var text_remaining = text_max - text_length;

      $('#charCount').html(text_remaining + ' left');
  });
  $('#submit').click(function() {
    var request = $.ajax({
      url: "/contact",
      type: "POST",
      data: {email: $('#inputEmail').val(), message: $('#inputMessage').val()},
    });
    
    request.done(function(data) {
      if (data.ok) {
        inform('message sent!');
        $('#inputMessage').val('')
      };
    });
    
    request.fail(function( jqXHR, textStatus ) {
      inform( "Request failed: " + textStatus );
    });
    return false
  });
})
  </script>
{% endblock %}
